In [3]:
import pandas as pd
import numpy as np
import datetime
import ciso8601

In [4]:
path_movie = r'.\data\original\MovieRatings.txt'
path_music = r'.\data\original\MusicRatings.txt'

In [5]:
file_movie = pd.read_csv(path_movie, encoding = 'ISO-8859-1', sep='\t', names=['user_id','item_id','rating','type','timestr','dummy'])
file_music = pd.read_csv(path_music, encoding = 'ISO-8859-1', sep='\t', names=['user_id','item_id','rating','type','timestr','dummy'])
file_movie.drop(['dummy'], axis=1, inplace=True)
file_music.drop(['dummy'], axis=1, inplace=True)
print(file_movie)
print(file_music)

         user_id  item_id  rating     type                        timestr
0        2253006  2028669      -1     wish  2011-10-18T18:01:47.000+08:00
1        2253006  6395463       5  watched  2011-10-10T12:54:46.000+08:00
2        2253006  1291565      -1     wish  2011-09-27T16:06:21.000+08:00
3        2253006  6799133      -1     wish  2011-09-25T00:40:00.000+08:00
4        2253006  6714078      -1     wish  2011-09-06T16:31:37.000+08:00
...          ...      ...     ...      ...                            ...
5199468  2291566  2054932       5  watched  2009-05-27T00:38:14.000+08:00
5199469  2291566  1945780       5  watched  2009-05-27T00:38:03.000+08:00
5199470  2291566  2081376       4  watched  2009-05-27T00:37:37.000+08:00
5199471  2291566  3007826       5  watched  2009-05-27T00:37:25.000+08:00
5199472  2291566  2297265       5  watched  2009-05-27T00:37:04.000+08:00

[5199473 rows x 5 columns]
         user_id  item_id  rating      type                        timestr
0        2253006  5359415       4  listened  2011-11-02T13:25:04.000+08:00
1        2253006  6758073       4  listened  2011-11-01T14:15:14.000+08:00
2        2253006  6791122       5  listened  2011-11-01T13:43:54.000+08:00
3        2253006  6783658       3  listened  2011-11-01T13:32:11.000+08:00
4        2253006  6151347       4  listened  2011-10-31T13:51:10.000+08:00
...          ...      ...     ...       ...                            ...
2528921  2291566  1427677       5  listened  2009-05-27T00:11:29.000+08:00
2528922  2291566  1916504       5  listened  2009-05-27T00:11:25.000+08:00
2528923  2291566  1416961       5  listened  2009-05-27T00:11:12.000+08:00
2528924  2291566  1394800       5  listened  2009-05-27T00:11:07.000+08:00
2528925  2291566  1394778       5  listened  2009-05-27T00:11:00.000+08:00

[2528926 rows x 5 columns]

In [6]:
#def timestr_to_timestamp(df):
#    df['timestamp'] = df.TimeStr.apply(lambda x: ciso8601.parse_datetime(x).timestamp())
#    return df

print(file_movie)
file_movie['timestamp'] = file_movie.timestr.apply(lambda x: ciso8601.parse_datetime(x).timestamp())
del(file_movie['timestr'])
file_music['timestamp'] = file_music.timestr.apply(lambda x: ciso8601.parse_datetime(x).timestamp())
del(file_music['timestr'])
print(file_movie)

         user_id  item_id  rating     type                        timestr
0        2253006  2028669      -1     wish  2011-10-18T18:01:47.000+08:00
1        2253006  6395463       5  watched  2011-10-10T12:54:46.000+08:00
2        2253006  1291565      -1     wish  2011-09-27T16:06:21.000+08:00
3        2253006  6799133      -1     wish  2011-09-25T00:40:00.000+08:00
4        2253006  6714078      -1     wish  2011-09-06T16:31:37.000+08:00
...          ...      ...     ...      ...                            ...
5199468  2291566  2054932       5  watched  2009-05-27T00:38:14.000+08:00
5199469  2291566  1945780       5  watched  2009-05-27T00:38:03.000+08:00
5199470  2291566  2081376       4  watched  2009-05-27T00:37:37.000+08:00
5199471  2291566  3007826       5  watched  2009-05-27T00:37:25.000+08:00
5199472  2291566  2297265       5  watched  2009-05-27T00:37:04.000+08:00

[5199473 rows x 5 columns]
         user_id  item_id  rating     type     timestamp
0        2253006  2028669      -1     wish  1.318932e+09
1        2253006  6395463       5  watched  1.318222e+09
2        2253006  1291565      -1     wish  1.317111e+09
3        2253006  6799133      -1     wish  1.316882e+09
4        2253006  6714078      -1     wish  1.315298e+09
...          ...      ...     ...      ...           ...
5199468  2291566  2054932       5  watched  1.243356e+09
5199469  2291566  1945780       5  watched  1.243356e+09
5199470  2291566  2081376       4  watched  1.243356e+09
5199471  2291566  3007826       5  watched  1.243356e+09
5199472  2291566  2297265       5  watched  1.243356e+09

[5199473 rows x 5 columns]

In [7]:
file_movie['item_type'] = 0
file_music['item_type'] = 1
file_movie.head(10)
#file_music.head(10)

   user_id  item_id  rating     type     timestamp  item_type
0  2253006  2028669      -1     wish  1.318932e+09          0
1  2253006  6395463       5  watched  1.318222e+09          0
2  2253006  1291565      -1     wish  1.317111e+09          0
3  2253006  6799133      -1     wish  1.316882e+09          0
4  2253006  6714078      -1     wish  1.315298e+09          0
5  2253006  1306303      -1     wish  1.315192e+09          0
6  2253006  5387041      -1     wish  1.314786e+09          0
7  2253006  3011235       4  watched  1.313814e+09          0
8  2253006  3443389       5  watched  1.313458e+09          0
9  2253006  1292281      -1     wish  1.313389e+09          0

In [8]:
file_mm = pd.concat([file_movie,file_music])
file_mm = file_mm.sort_values(by = ['timestamp','item_id'], axis = 0)
print(file_mm)

          user_id  item_id  rating      type     timestamp  item_type
2898723   1000704  1291574      -1   watched  1.115110e+09          0
2898722   1000704  1291575      -1   watched  1.115111e+09          0
2522085   1000311  1292048      -1   watched  1.115473e+09          0
2430165   1000001  1292226      -1   watched  1.115552e+09          0
2436227   1000042  1292269      -1   watched  1.115612e+09          0
...           ...      ...     ...       ...           ...        ...
5173204   2293403  1292656       5   watched  1.323173e+09          0
2517847  28865563  1394999       4  listened  1.323184e+09          1
2517846  28865563  5962329       4  listened  1.323184e+09          1
2517845  28865563  4214936      -1      wish  1.323184e+09          1
2517844  28865563  4715941      -1      wish  1.323184e+09          1

[7728399 rows x 6 columns]

In [9]:
inter_user = set(file_movie.user_id)&set(file_music.user_id)
print(file_mm)
print(len(file_mm))

file_mm = file_mm[file_mm['user_id'].isin(inter_user)]
file_mm = file_mm.reset_index()
file_mm = file_mm.drop('index', axis = 1)
print(file_mm)
print(len(file_mm))

          user_id  item_id  rating      type     timestamp  item_type
2898723   1000704  1291574      -1   watched  1.115110e+09          0
2898722   1000704  1291575      -1   watched  1.115111e+09          0
2522085   1000311  1292048      -1   watched  1.115473e+09          0
2430165   1000001  1292226      -1   watched  1.115552e+09          0
2436227   1000042  1292269      -1   watched  1.115612e+09          0
...           ...      ...     ...       ...           ...        ...
5173204   2293403  1292656       5   watched  1.323173e+09          0
2517847  28865563  1394999       4  listened  1.323184e+09          1
2517846  28865563  5962329       4  listened  1.323184e+09          1
2517845  28865563  4214936      -1      wish  1.323184e+09          1
2517844  28865563  4715941      -1      wish  1.323184e+09          1

[7728399 rows x 6 columns]
7728399
          user_id  item_id  rating      type     timestamp  item_type
0         1000704  1291574      -1   watched  1.115110e+09          0
1         1000704  1291575      -1   watched  1.115111e+09          0
2         1000311  1292048      -1   watched  1.115473e+09          0
3         1000001  1292226      -1   watched  1.115552e+09          0
4         1000042  1292269      -1   watched  1.115612e+09          0
...           ...      ...     ...       ...           ...        ...
7380107   2293403  1292656       5   watched  1.323173e+09          0
7380108  28865563  1394999       4  listened  1.323184e+09          1
7380109  28865563  5962329       4  listened  1.323184e+09          1
7380110  28865563  4214936      -1      wish  1.323184e+09          1
7380111  28865563  4715941      -1      wish  1.323184e+09          1

[7380112 rows x 6 columns]
7380112

In [10]:
#session generation
session = []
s = 0
for i in range(0, len(file_mm)):
    if i == 0:
        s = s 
    elif (file_mm.item_type[i] != file_mm.item_type[i-1]):
        s += 1
    elif ((file_mm.timestamp[i] - file_mm.timestamp[i-1]) > 3600 ):
        s += 1
    elif (file_mm.user_id[i] != file_mm.user_id[i-1]):
        s += 1    
    else:
        s = s
    session.append(s)
file_mm['session'] = session
print(file_mm)

          user_id  item_id  rating      type     timestamp  item_type  session
0         1000704  1291574      -1   watched  1.115110e+09          0        0
1         1000704  1291575      -1   watched  1.115111e+09          0        0
2         1000311  1292048      -1   watched  1.115473e+09          0        1
3         1000001  1292226      -1   watched  1.115552e+09          0        2
4         1000042  1292269      -1   watched  1.115612e+09          0        3
...           ...      ...     ...       ...           ...        ...      ...
7380107   2293403  1292656       5   watched  1.323173e+09          0  5852064
7380108  28865563  1394999       4  listened  1.323184e+09          1  5852065
7380109  28865563  5962329       4  listened  1.323184e+09          1  5852065
7380110  28865563  4214936      -1      wish  1.323184e+09          1  5852065
7380111  28865563  4715941      -1      wish  1.323184e+09          1  5852065

[7380112 rows x 7 columns]

In [11]:
session_lengths = file_mm.groupby('session').size()
print(session_lengths)

session
0           2
1           1
2           1
3           2
4           1
           ..
5852061     1
5852062    27
5852063     1
5852064     1
5852065     4
Length: 5852066, dtype: int64

In [12]:
#1 record
file_mm = file_mm[np.in1d(file_mm.session, session_lengths[session_lengths >= 2].index)]

In [13]:
#5record 
user_lengths = file_mm.groupby('user_id').size()

In [14]:
file_mm = file_mm[np.in1d(file_mm.user_id, user_lengths[user_lengths >= 6].index)]
print(file_mm)

          user_id  item_id  rating     type     timestamp  item_type  session
0         1000704  1291574      -1  watched  1.115110e+09          0        0
1         1000704  1291575      -1  watched  1.115111e+09          0        0
4         1000042  1292269      -1  watched  1.115612e+09          0        3
5         1000042  1292271      -1  watched  1.115612e+09          0        3
10        1000002  1292001      -1     wish  1.116503e+09          0        8
...           ...      ...     ...      ...           ...        ...      ...
7380101  43798013  1293265      -1  watched  1.323165e+09          0  5852062
7380102  43798013  1291583      -1  watched  1.323165e+09          0  5852062
7380103  43798013  1294991      -1  watched  1.323165e+09          0  5852062
7380104  43798013  1307577      -1  watched  1.323165e+09          0  5852062
7380105  43798013  1422067      -1  watched  1.323165e+09          0  5852062

[2253529 rows x 7 columns]

In [15]:
# 다시 생겼을 수 있으니
session_lengths = file_mm.groupby('session').size()
file_mm = file_mm[np.in1d(file_mm.session, session_lengths[session_lengths >= 2].index)]
print(file_mm)

          user_id  item_id  rating     type     timestamp  item_type  session
0         1000704  1291574      -1  watched  1.115110e+09          0        0
1         1000704  1291575      -1  watched  1.115111e+09          0        0
4         1000042  1292269      -1  watched  1.115612e+09          0        3
5         1000042  1292271      -1  watched  1.115612e+09          0        3
10        1000002  1292001      -1     wish  1.116503e+09          0        8
...           ...      ...     ...      ...           ...        ...      ...
7380101  43798013  1293265      -1  watched  1.323165e+09          0  5852062
7380102  43798013  1291583      -1  watched  1.323165e+09          0  5852062
7380103  43798013  1294991      -1  watched  1.323165e+09          0  5852062
7380104  43798013  1307577      -1  watched  1.323165e+09          0  5852062
7380105  43798013  1422067      -1  watched  1.323165e+09          0  5852062

[2253529 rows x 7 columns]

In [16]:
file_mm = file_mm.reset_index().drop('index', axis = 1)
c_temp = []
c_idx = []
#temp = []
for i in range(0, len(file_mm)):
    if i == 0:
        c_temp.append(0)
    elif (file_mm.user_id[i-1] == file_mm.user_id[i]) & (file_mm.item_type[i-1] == 0) & (file_mm.item_type[i] == 1):
        c_temp.append(file_mm.session[i-1])
        c_idx.append(i)
        file_mm.session[i] = file_mm.session[i-1]####
    else:
        c_temp.append(0)

print(c_temp)

C:\Users\IWTL\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [17]:
# source
session_1 = file_mm[file_mm['session'].isin(set(c_temp)-{0})]
session_1 = session_1.reset_index()
del session_1['index']
print(len(session_1))
print(session_1[0:30])

23962
    user_id  item_id  rating      type     timestamp  item_type  session
0   1002396  1394626       2   watched  1.121625e+09          0     2727
1   1002396  1301654       4   watched  1.121625e+09          0     2727
2   1002396  1394620      -1  listened  1.121626e+09          1     2727
3   1005493  1292063      -1   watched  1.121702e+09          0     3059
4   1005493  1291559      -1      wish  1.121702e+09          0     3059
5   1005493  1292001       4   watched  1.121702e+09          0     3059
6   1005493  1394547      -1  listened  1.121702e+09          1     3059
7   1004784  1292659       5   watched  1.121772e+09          0     3219
8   1004784  1308777      -1      wish  1.121772e+09          0     3219
9   1004784  1394849       5  listened  1.121772e+09          1     3219
10  1002785  1291544       4   watched  1.121779e+09          0     3279
11  1002785  1295038       4   watched  1.121779e+09          0     3279
12  1002785  1296996       4   watched  1.121779e+09          0     3279
13  1002785  1309055       4   watched  1.121779e+09          0     3279
14  1002785  1292528       5   watched  1.121779e+09          0     3279
15  1002785  1299062      -1      wish  1.121779e+09          0     3279
16  1002785  1294285      -1   watched  1.121779e+09          0     3279
17  1002785  1293346      -1      wish  1.121780e+09          0     3279
18  1002785  1298112       4   watched  1.121780e+09          0     3279
19  1002785  1293258      -1   watched  1.121780e+09          0     3279
20  1002785  1299377      -1   watched  1.121780e+09          0     3279
21  1002785  1301926       4   watched  1.121780e+09          0     3279
22  1002785  1394860      -1  listened  1.121780e+09          1     3279
23  1002448  1299680      -1   watched  1.121787e+09          0     3307
24  1002448  1308819      -1   watched  1.121787e+09          0     3307
25  1002448  1304585      -1   watched  1.121787e+09          0     3307
26  1002448  1306133      -1   watched  1.121787e+09          0     3307
27  1002448  1293825      -1   watched  1.121787e+09          0     3307
28  1002448  1296339       4   watched  1.121787e+09          0     3307
29  1002448  1292344      -1   watched  1.121787e+09          0     3307

In [18]:
cs = 0
cross_session = []
for i in range(0, len(session_1)):
    if i == 0:
        cs = cs
    elif session_1.session[i] != session_1.session[i-1]:
        cs += 1
    else:
        cs = cs
    cross_session.append(cs)

session_1['cross_session'] = cross_session
print(session_1[0:30])

    user_id  item_id  rating      type     timestamp  item_type  session  \
0   1002396  1394626       2   watched  1.121625e+09          0     2727
1   1002396  1301654       4   watched  1.121625e+09          0     2727
2   1002396  1394620      -1  listened  1.121626e+09          1     2727
3   1005493  1292063      -1   watched  1.121702e+09          0     3059
4   1005493  1291559      -1      wish  1.121702e+09          0     3059
5   1005493  1292001       4   watched  1.121702e+09          0     3059
6   1005493  1394547      -1  listened  1.121702e+09          1     3059
7   1004784  1292659       5   watched  1.121772e+09          0     3219
8   1004784  1308777      -1      wish  1.121772e+09          0     3219
9   1004784  1394849       5  listened  1.121772e+09          1     3219
10  1002785  1291544       4   watched  1.121779e+09          0     3279
11  1002785  1295038       4   watched  1.121779e+09          0     3279
12  1002785  1296996       4   watched  1.121779e+09          0     3279
13  1002785  1309055       4   watched  1.121779e+09          0     3279
14  1002785  1292528       5   watched  1.121779e+09          0     3279
15  1002785  1299062      -1      wish  1.121779e+09          0     3279
16  1002785  1294285      -1   watched  1.121779e+09          0     3279
17  1002785  1293346      -1      wish  1.121780e+09          0     3279
18  1002785  1298112       4   watched  1.121780e+09          0     3279
19  1002785  1293258      -1   watched  1.121780e+09          0     3279
20  1002785  1299377      -1   watched  1.121780e+09          0     3279
21  1002785  1301926       4   watched  1.121780e+09          0     3279
22  1002785  1394860      -1  listened  1.121780e+09          1     3279
23  1002448  1299680      -1   watched  1.121787e+09          0     3307
24  1002448  1308819      -1   watched  1.121787e+09          0     3307
25  1002448  1304585      -1   watched  1.121787e+09          0     3307
26  1002448  1306133      -1   watched  1.121787e+09          0     3307
27  1002448  1293825      -1   watched  1.121787e+09          0     3307
28  1002448  1296339       4   watched  1.121787e+09          0     3307
29  1002448  1292344      -1   watched  1.121787e+09          0     3307

    cross_session
0               0
1               0
2               0
3               1
4               1
5               1
6               1
7               2
8               2
9               2
10              3
11              3
12              3
13              3
14              3
15              3
16              3
17              3
18              3
19              3
20              3
21              3
22              3
23              4
24              4
25              4
26              4
27              4
28              4
29              4

In [19]:
del session_1['rating']
del session_1['type']
print(session_1)

        user_id  item_id     timestamp  item_type  session  cross_session
0       1002396  1394626  1.121625e+09          0     2727              0
1       1002396  1301654  1.121625e+09          0     2727              0
2       1002396  1394620  1.121626e+09          1     2727              0
3       1005493  1292063  1.121702e+09          0     3059              1
4       1005493  1291559  1.121702e+09          0     3059              1
...         ...      ...           ...        ...      ...            ...
23957  47746003  5966454  1.321530e+09          1  5850242           4608
23958   4501680  4191644  1.322284e+09          0  5851079           4609
23959   4501680  5993185  1.322285e+09          0  5851079           4609
23960   4501680  4873490  1.322285e+09          0  5851079           4609
23961   4501680  6870958  1.322285e+09          1  5851079           4609

[23962 rows x 6 columns]

In [20]:
## split train & test set
tmax = session_1.timestamp.max()
session_max_times = session_1.groupby('cross_session').timestamp.max()
session_train = session_max_times[session_max_times < tmax-7.884e+6].index
session_test = session_max_times[session_max_times >= tmax-7.884e+6].index

### 
train = session_1[np.in1d(session_1.cross_session, session_train)]
test = session_1[np.in1d(session_1.cross_session, session_test)]
test = test[np.in1d(test.item_id, train.item_id)]

In [21]:
# length 1
c_session_lengths = session_1.groupby('cross_session').size()
session_1 = session_1[np.in1d(session_1.cross_session, c_session_lengths[c_session_lengths >= 2].index)]

In [22]:
# save processed data
print('Full train set\n\tEvents: {}\n\tCross_sessions: {}\n\tItems: {}'.format(len(train), 
        train.cross_session.nunique(), train.item_id.nunique()))
print('Test set\n\tEvents: {}\n\tCross_sessions: {}\n\tItems: {}'.format(len(test), 
        test.cross_session.nunique(), test.item_id.nunique()))
train.to_csv(r'.\data\processed\cs_train.txt', sep = '\t', index = False)
test.to_csv(r'.\data\processed\cs_test.txt', sep = '\t', index = False)

Full train set
	Events: 23702
	Cross_sessions: 4563
	Items: 8571
Test set
	Events: 99
	Cross_sessions: 32
	Items: 86

In [23]:
# validation set
tmax = train.timestamp.max()
session_max_times = train.groupby('cross_session').timestamp.max()
session_train = session_max_times[session_max_times < tmax-7.884e+6].index
session_valid = session_max_times[session_max_times >= tmax-7.884e+6].index

train_tr = train[np.in1d(train.cross_session, session_train)]
valid = train[np.in1d(train.cross_session, session_valid)]
valid = valid[np.in1d(valid.item_id, train_tr.item_id)]
tslength = valid.groupby('cross_session').size()
valid = valid[np.in1d(valid.cross_session, tslength[tslength>=2].index)]
print('Train set\n\tEvents: {}\n\tCross_sessions: {}\n\tItems: {}'.format(len(train_tr), 
        train_tr.cross_session.nunique(), train_tr.item_id.nunique()))
train_tr.to_csv(r'.\data\processed\cs_train_tr.txt', sep='\t', index=False)
print('Validation set\n\tEvents: {}\n\tcross_sessions: {}\n\tItems: {}'.format(len(valid), 
        valid.cross_session.nunique(), valid.item_id.nunique()))
valid.to_csv(r'.\data\processed\cs_valid.txt', sep='\t', index=False)

Train set
	Events: 23250
	Cross_sessions: 4471
	Items: 8296
Validation set
	Events: 137
	cross_sessions: 34
	Items: 127